html{ 
    background-color: black;
}
h1{
    color: white; 
    text-align:center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center
}

button {
    background-color: white;
    color: black;
    font-size: 30px;
    font-family: "times new roman"

}

.formlabel {
    color: white;
    text-align: center;
   font-size: 30px;
}

#stand-name {
    text-align: center;
    color: blue;
    font-family: "times new roman"; 
    font-size: 30px
}

